/* 
    Document   : estiloMenu
    Created on : 20 de julio de 2007, 04:18 PM
    Author     : pgonzalezc
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

        div.menuBar,
        div.menuBar a.menuButton,
        div.menu,
        div.menu a.menuItem {
            font-family: "MS Sans Serif", Arial, sans-serif;
            font-size: 8pt;
            font-style: normal;
            font-weight: normal;
            color: #D5EDF7;
        }
        div.menuBar {
            background-color: #E9F8FE;
            border: 2px solid;
            border-color: #f0f0f0 #909090 #909090 #f0f0f0;
            padding: 4px 2px 4px 2px;
            text-align: left;
        }
        div.menuBar a.menuButton {
            background-color: transparent;
            border: 1px solid #d0d0d0;
            color: #330066;
            cursor: default;
            left: 0px;
            margin: 1px;
            padding: 2px 6px 2px 6px;
            position: relative;
            text-decoration: none;
            top: 0px;
            z-index: 100;
        }
        div.menuBar a.menuButton:hover {
            background-color: transparent;
            border-color: #f0f0f0 #909090 #909090 #f0f0f0;
            color: #330066;
        }
        div.menuBar a.menuButtonActive,div.menuBar a.menuButtonActive:hover {
            background-color: #D5EDF7;
            border-color: #909090 #f0f0f0 #f0f0f0 #909090;
            color: #000099;
            left: 1px;
            top: 1px;
        }
        div.menu {
            background-color: #F9FEFF;
            border: 2px solid;
            border-color: #f0f0f0 #909090 #909090 #f0f0f0;
            left: 0px;
            padding: 0px 1px 1px 0px;
            position: absolute;
            top: 0px;
            visibility: hidden;
            z-index: 101;
        }
        div.menu a.menuItem {
            color: #000000;
            cursor: default;
            display: block;
            padding: 3px 1em;
            text-decoration: none;
            white-space: nowrap;
        }
        div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
            background-color: #000080;
            color: #ffffff;
        }
        div.menu a.menuItem span.menuItemText {}
        div.menu a.menuItem span.menuItemArrow {
            margin-right: -.75em;
        }
        div.menu div.menuItemSep {
            border-top: 1px solid #909090;
            border-bottom: 1px solid #f0f0f0;
            margin: 4px 2px;
        }