#demoDer { border:1px dashed; width:300px; background-color:#EAEAEA; text-align:center; }

#demoDer { float:inherit; position:relative; }

#lista
{
    position:absolute;
    width:300px;
    background-color:#EAEAEA; color:#000000;
    border:1px dotted; border-color:#000000;
    z-index:1;
    top:46px;
    left:0px;
    overflow: auto;
    height: 150px;
    text-align: left;
    display:none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;

}

.resaltado
{
    background-color:#FFFFFF; color:#000000;
    cursor:pointer;
}

.normal
{
    background-color:#EAEAEA; color:#000000;
}