
.cabecera {
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
    background: #D7D7BD;
}

.letra_9{
    color:#003366;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
}

.letra_negrita_9 {
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
}

table {
    color:#000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
}
.outer {
position:relative;
padding:4em 0 3em 0;
width:54em;
background:#eee;
margin:0 auto 3em auto;
}
.innera {
overflow:auto;
width:54em;
height:9.6em;
background:#eee;
}
.outer table caption {
position:absolute;
width:51.7em;
text-align:center;
top:0;
left:0;
height:1.5em;
background:#697210;
border:0.1em solid #fff;
color:#fff;
}
.outer thead tr {
position:absolute;
top:1.5em;
height:1.5em;
left:0;
}
.outer tfoot td {
position:absolute;
width:51.5em;
text-align:center;
background:#f0c992;
border:0.1em solid #000;
color:#000;
bottom:0;
left:0
}
.outer th, .outer td {
width:10em;
text-align:left;
}
.outer th {
background:#724a10;
color:#fff;}
.outer .dk {background:#fff;
}

.tableone {/*width:750px;*/ border-collapse:collapse; margin:0 auto;}
.tabletwo {/*width:740px;*/ border-collapse:collapse;}
.th1 {width:149px;}
.th2 {width:99px;}
.th3 {width:99px;}
.th4 {width:99px;}
.th5 {width:200px;}

.td1 {width:149px;}
.td2 {width:99px;}
.td3 {width:99px;}
.td4 {width:99px;}
.td5 {width:170px;}

.tableone {border:1px solid /*#D7D7BD;*/ #000066;}
.tableone td {border:1px solid #fff; color:#fff;}
.tableone tbody {background:#fff; color:#000;}
.tableone caption {
    background:#fff;
    color:#697210;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin:0 auto;
}
.tabletwo td {
    background:#eee;
    color:#000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
}
.tableone th, .tabletwo th {text-align:left;}
.tabletwo tr.dk td {
    background:#ddd;
}
.tableone thead th{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    /*color: #003366;*/
    color: #FFFFFF;
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
    /*background: #D7D7BD;*/
    background: #000066;
}

.innerb {
        height:300px;
        overflow:auto;
}

